# R, rstudio and markdown
# History files
.Rhistory
.Rapp.history

# Output files from R CMD check
/*.Rcheck/
/rsconnect/*

# RStudio files
.Rproj.user
.RData
.Ruserdata
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# knitr and R markdown default cache directories
**/*_cache/
**/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Other files
.directory
.dropbox
.DS_Store
*.xls
*.xlsx
*.ods
*.doc
*.docx

# Non-final Figures
#*.svg
*.eps
*.jpg
*.JPG


Old/*
